@model projeto_financeiro_mvc.ViewModels.RecorrenteViewModel
@{
    ViewData["Title"] = "Editar Recorrente";
}

<h1 class="d-flex justify-content-center text-primary fw-bold mt-2" id="titulo">@ViewData["Title"]</h1>

<div class="container">
    <div class="card mb-3 rounded-3 border-warning">
        <form asp-controller="Recorrente" asp-action="Editar" method="post">
            <input type="hidden" asp-for="Recorrente.Id">
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

                <div class="d-flex justify-content-between">
                    <div class="d-flex justify-content-end bg-white w-100 border border-primary border-1 rounded-bottom rounded-3">
                        <div class="row g-1 align-items-center p-1">
                            <div class="col-auto">
                                <label asp-for="Recorrente.IsRecorrente" class="col-form-label fs-6 text-primary me-2">Recorrente?</label>
                            </div>
                            <div class="col-auto">
                                <input class="form-check-input bg-primary" asp-for="Recorrente.IsRecorrente" type="radio" name="Recorrente.IsRecorrente" id="fixoSim"
                                    value="true" checked="checked">
                                <label class="form-check-label text-dark">
                                    Sim
                                </label>
                            </div>
                            <div class="col-auto">
                                <input class="form-check-input bg-primary" asp-for="Recorrente.IsRecorrente" type="radio" name="Recorrente.IsRecorrente" id="fixoNao"
                                    value="false" disabled>
                                <label class="form-check-label text-dark" for="fixoNao">
                                    Não
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between bg-warning bg-opacity-25 rounded">
                    <div class="row g-2 align-items-center p-2">
                        <div class="col-auto">
                            <label asp-for="Recorrente.Valor" class="col-form-label fs-4 text-primary">Valor:</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" name="Recorrente.Valor" asp-for="Recorrente.Valor" class="rounded border-1 w-50 fs-5" style="height: 35px;" id="valorRecorrente">
                        </div>
                    </div>
                    <div class="row g-2 align-items-center p-2">
                        <div class="col-auto">
                            <label for="parcelas" asp-for="Recorrente.Parcelas" class="col-form-label fs-5 text-primary labels">Parcelas:</label>
                        </div>
                        <div class="col-auto">
                            <input type="number" asp-for="Recorrente.Parcelas" name="Recorrente.Parcelas" id="parcelas" class="rounded border-1 p-1 w-25" readonly>
                        </div>
                    </div>
                    <div class="row g-2 align-items-center p-2">
                        <div class="col-auto">
                            <label for="selectTipo" asp-for="Recorrente.Data" class="col-form-label fs-5 text-primary labels">Data:</label>
                        </div>
                        <div class="col-auto">
                            <input type="date" asp-for="Recorrente.Data" class="rounded border-1 p-1" id="dataRecorrente">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between bg-warning bg-opacity-25 rounded mt-1">
                    <div class="row g-2 align-items-center p-2">
                        <div class="col-auto">
                            <label for="selectTipo" asp-for="Recorrente.Tipo" class="col-form-label fs-5 text-primary labels">Tipo:</label>
                        </div>
                        <div class="col-auto">
                            <select class="form-select border-2 bg-white text-primary" asp-for="Recorrente.Tipo" name="Recorrente.Tipo" id="selectTipo">
                                <option value="0" selected>Receita</option>
                                <option value="1">Despesa</option>
                            </select>
                        </div>
                    </div>
                    <div class="row g-2 align-items-center p-2">
                        <div class="col-auto">
                            <label for="selectTipo" asp-for="Recorrente.Previsao" class="col-form-label fs-5 text-primary labels">Prev. Pagamento:</label>
                        </div>
                        <div class="col-auto">
                            <input type="date" asp-for="Recorrente.Previsao" class="rounded border-1 p-1" id="dataPrevisao">
                        </div>
                    </div>
                </div>
                <div class="p-2 mb-1">
                    <label asp-for="Recorrente.Descricao" class="form-label fs-5 text-primary labels">Descrição:</label>
                    <textarea class="form-control bg-white border-1 border-dark text-primary labels" asp-for="Recorrente.Descricao" name="Recorrente.Descricao" rows="1" style="max-height: 80px;"></textarea>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="row g-2 align-items-center p-2">
                        <div class="col-auto">
                            <label asp-for="Recorrente.CategoriaId" class="col-form-label fs-5 text-primary labels">Categoria:</label>
                        </div>
                        <div class="col-auto">
                            <select class="form-select bg-white text-primary border border-dark border-1" asp-for="Recorrente.CategoriaId" name="Recorrente.CategoriaId" id="selectCategoria">
                                <option value="">Selecione...</option>

                                @{
                                    foreach(var categoria in Model.Categorias)
                                    {
                                        <option value="@categoria.Id">@categoria.Descricao</option>
                                    }
                                }

                                @* <option value="Água">Água</option>
                                <option value="Alimentação VA">Alimentação VA</option>
                                <option value="Aluguel">Aluguel</option>
                                <option value="Carro">Carro</option>
                                <option value="Casa">Casa</option>
                                <option value="Combustível">Combustível</option>
                                <option value="Diversos">Despesas Mayte</option>
                                <option value="Diversos">Diversos</option>
                                <option value="Eletrônicos">Eletrônicos</option>
                                <option value="Empréstimo">Empréstimo</option>
                                <option value="Energia">Energia</option>
                                <option value="Estacionamento">Estacionamento</option>
                                <option value="Estudo">Estudo</option>
                                <option value="Fast Food">Fast Food</option>
                                <option value="FGTS">FGTS</option>
                                <option value="Férias">Férias</option>
                                <option value="Financiamento">Financiamento</option>
                                <option value="Internet">Internet</option>
                                <option value="Móveis">Móveis</option>
                                <option value="Salário">Salário</option>
                                <option value="Saldo Inicial">Saldo Inicial</option>
                                <option value="Telefone">Telefone</option>
                                <option value="Transferência entre contas">Transferência entre contas</option>
                                <option value="TV">TV</option>
                                <option value="Roupas">Roupas</option> *@
                            </select>
                        </div>
                    </div>
                    <div class="row g-2 align-items-center p-2">
                        <div class="col-auto">
                            <label asp-for="Recorrente.ContaId" class="col-form-label fs-5 text-primary labels">Conta:</label>
                        </div>
                        <div class="col-auto">
                            <select class="form-select bg-white text-primary border border-dark border-1" asp-for="Recorrente.ContaId" id="conta">
                                <option value="">Selecione...</option>
                                @foreach (var conta in (Model.Contas))
                                {
                                    <option value="@conta.Id">@conta.Banco</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-start align-items-center p-2 mx-2">
                    <h5 class="text-primary text-center ms-2 me-4 fw-bold">Pagar?</h5>
                    <div class="d-flex align-items-center w-50 gap-4">
                        <!-- SIM -->
                        <input type="radio" class="btn-check" asp-for="Recorrente.Pago" id="pagar-sim" value="true" />
                        <label class="btn btn-outline-success text-success-emphasis" for="pagar-sim">Sim</label>

                        <!-- NÃO -->
                        <input type="radio" class="btn-check" asp-for="Recorrente.Pago" id="pagar-nao" value="false" />
                        <label class="btn btn-outline-danger text-danger-emphasis" for="pagar-nao">Não</label>
                    </div>
                </div>
                <div class="d-flex justify-content-end align-items-center w-100 p-3">
                    <button type="submit" class="btn btn-info w-25 me-4" id="btnConfirmar">Confirmar</button>
                    <a asp-controller="Lancamento" asp-action="Index" class="btn btn-primary w-25" id="btn-cancelar">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>
