@model IEnumerable<CategoriaModel>
@{
    ViewData["Title"] = "Categorias";
}

<div class="container d-flex justify-content-center mt-2">
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success text-white" role="alert">
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger text-light" role="alert">
            @TempData["MensagemErro"]
        </div>
    }
</div>

<h1 class="d-flex justify-content-center text-primary fw-bold mt-2" id="titulo">@ViewData["Title"]</h1>

<div class="d-flex flex-column align-items-center justify-content-center">
    <div class="mt-2 mb-4">
        <a type="button" asp-controller="Categoria" asp-action="Cadastrar" class="btn btn-primary rounded rounded-3 btnLancamento" style="width: 200px;"><i class="bi bi-plus-square me"></i><br>Categoria</a>
    </div>

    <div style="width: 500px" id="table-categoria">
        <table class="table table-primary table-hover border border-2">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Descrição</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @if (Model.Any())
                {
                    @foreach(var categoria in Model)
                    {
                    <tr class="table-custom border border-2">
                        <th scope="row">@categoria.Id</th>
                        <td>@categoria.Descricao</td>
                        <td>
                            <a asp-controller="Categoria" asp-action="Editar" asp-route-id="@categoria.Id" class="btn btn-warning btn-sm me-2" id="btnEditar"><i class="bi bi-pencil-square"></i> Editar</a>
                            <a asp-controller="Categoria" asp-action="Excluir" asp-route-id="@categoria.Id" class="btn btn-danger btn-sm" id="btnExcluir"><i class="bi bi-trash3-fill"></i> Excluir</a>
                        </td>
                    </tr>
                    }
                }
                else
                {
                    <tr class="table-custom text-dark">
                        <td colspan="7">
                            <h5 class="text-primary text-center">Nenhuma conta encontrada!</h5>
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
</div>