@model projeto_financeiro_mvc.ViewModels.ListExtratoViewModel
@{
    ViewData["Title"] = "Extrato";
}

<h1 class="d-flex justify-content-center text-primary fw-bold mt-2">@ViewData["Title"]</h1>

<div class="container">
    <form asp-controller="Extrato" asp-action="Index" method="get">
        <div class="d-flex justify-content-between align-items-center flex-row border border-2 p-2 rounded rounded-2 mb-2">
            <div class="row g-2 align-items-center p-2">
                <div class="col-auto">
                    <label for="selectTipo" class="col-form-label text-primary">Tipo:</label>
                </div>
                <div class="col-auto">
                    <select class="form-select-sm" id="tipo">
                        <option value="" selected>Selecione...</option>
                        <option value="receita" selected="@(Model.Tipo == "receita")">Receita</option>
                        <option value="despesa" selected="@(Model.Tipo == "despesa")">Despesa</option>
                    </select>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-auto">
                    <label for="selectCategoria" class="col-form-label text-primary">Categoria:</label>
                </div>
                <div class="col-auto">
                <select class="form-select-sm" id="categoria">
                        <option value="" selected>Selecione...</option>
                        <option value="Água">Água</option>
                        <option value="Alimentação VA">Alimentação VA</option>
                        <option value="Aluguel">Aluguel</option>
                        <option value="Carro">Carro</option>
                        <option value="Casa">Casa</option>
                        <option value="Combustível">Combustível</option>
                        <option value="Diversos">Despesas Mayte</option>
                        <option value="Diversos">Diversos</option>
                        <option value="Eletrônicos">Eletrônicos</option>
                        <option value="Empréstimo">Empréstimo</option>
                        <option value="Energia">Energia</option>
                        <option value="Estacionamento">Estacionamento</option>
                        <option value="Estudo">Estudo</option>
                        <option value="Fast Food">Fast Food</option>
                        <option value="FGTS">FGTS</option>
                        <option value="Férias">Férias</option>
                        <option value="Financiamento">Financiamento</option>
                        <option value="Internet">Internet</option>
                        <option value="Móveis">Móveis</option>
                        <option value="Salário">Salário</option>
                        <option value="Saldo Inicial">Saldo Inicial</option>
                        <option value="Telefone">Telefone</option>
                        <option value="Transferência entre contas">Transferência entre contas</option>
                        <option value="TV">TV</option>
                        <option value="Roupas">Roupas</option>
                    </select>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-auto">
                    <label for="periodo" class="col-form-label text-primary">Período:</label>
                </div>
                <div class="col-auto">
                    <input type="date" name="dataInicial" value="@Model.DataInicial?.ToString("yyyy-MM-dd")" id="dataInicial" />
                    <span class="text-dark"> - </span>
                    <input type="date" name="dataFinal" value="@Model.DataFinal?.ToString("yyyy-MM-dd")" id="dataFinal" />
                </div>
            </div>
            <div class="row g-2 align-items-center p-2">
                <div class="col-auto">
                    <label for="selectTipo" class="col-form-label text-primary">Conta:</label>
                </div>
                <div class="col-auto">
                    <select class="form-select-sm" id="conta">
                        <option value="" selected>Selecione...</option>
                        @{
                            foreach (var conta in Model.Contas)
                            {
                                <option value="@conta.Id">@conta.Banco</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="">
                <button type="button" class="btn btn-sm btn-info" id="btnLimpar" 
                data-datainicial="@Model.DataInicial?.ToString("yyyy-MM-dd")"
                data-datafinal="@Model.DataFinal?.ToString("yyyy-MM-dd")">Limpar</button>
                <button type="submit" class="btn btn-sm btn-primary">Filtrar</button>  
            </div>
                
        </div>
    </form>
        
        
    <table class="table table-primary border border-2 table-hover">
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Descrição</th>
                <th scope="col">Tipo</th>
                <th scope="col">Categoria</th>
                <th scope="col">Conta</th>
                <th scope="col">Valor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @{
                if (!Model.Movimentos.Any())
                {
                    //QUANDO NÃO EXISTIR LANÇAMENTOS
                    <div class="d-flex align-items-center justify-content-center mt-4 p-2">
                        <h5 class="text-primary">Nenhum lançamento encontrado!</h5>
                    </div>
                }

                var lancamentosPorData = Model.Movimentos
                    .GroupBy(l => l.Data.Date)
                    .OrderBy(g => g.Key)
                    .ToList();

                double saldoTotal = 0;

                foreach(var grupo in lancamentosPorData)
                {
                    @* var rowClass = item.Origem switch
                    {
                        "Recorrente" => "table-warning",
                        "Transferencia" => "table-info",
                        _ => item.Tipo == "Receita" ? "table-success" : "table-danger"
                    }; *@

                    var saldoDia = grupo.Sum(l => l.Tipo == "Receita" ? l.Valor : -l.Valor);

                    saldoTotal += saldoDia;

                    foreach (var item in grupo)
                    {
                        <tr class="table-custom border border-1">
                        <th scope="row">@item.Data.ToString("dd/MM/yyyy")</th>
                        <td>@item.Descricao</td>
                            @if (item.Tipo == "Receita")
                            {
                                <td class="text-success-emphasis">@item.Tipo</td>
                            }
                            else if(item.Tipo == "Despesa")
                            {
                                <td class="text-danger">@item.Tipo</td>
                            }
                            else if(item.Tipo == "Transferencia")
                            {
                                <td class="text-info">@item.Tipo</td>
                            }
                        <td>@item.Categoria</td>
                        <td>@item.Conta</td>
                        <td>@item.Valor</td>
                        <td>
                            @if (item.Origem == "Lancamento")
                            {
                                <a asp-controller="Lancamento" asp-action="Editar" asp-route-id="@item.Id"><i class="bi bi-eye-fill text-info"></i></a>
                            }
                            else if (item.Origem == "Recorrente")
                            {
                                <a asp-controller="Recorrente" asp-action="Editar" asp-route-id="@item.Id"><i class="bi bi-eye-fill text-info"></i></a>
                            }
                            else if (item.Origem == "Transferencia")
                            {
                                <a asp-controller="Transferencia" asp-action="Editar" asp-route-id="@item.Id"><i class="bi bi-eye-fill text-info"></i></a>
                            }
                        </td>
                    </tr>
                    }
                    // Saldo do dia
                    <tr class="table-info text-dark">
                        <td colspan="7">
                            Saldo do dia: @saldoDia.ToString("C") | Saldo Total: @saldoTotal.ToString("C");
                        </td>
                    </tr>
                }
            }
            
        </tbody>
    </table>
</div>