@model projeto_financeiro_mvc.ViewModels.MovimentosFinanceirosViewModel
@{
    ViewData["Title"] = "Lançamentos";
}

<div class="container d-flex justify-content-center mt-2">
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success text-white" role="alert">
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger text-light" role="alert">
            @TempData["MensagemErro"]
        </div>
    }
</div>

<h1 class="d-flex justify-content-center text-primary fw-bold mt-2">@ViewData["Title"]</h1>

<div class="d-flex flex-wrap align-items-center justify-content-center w-100">
    <div class="mt-2 mb-4">
        <div class="d-flex text-start w-100">
            <a type="button" asp-controller="Lancamento" asp-action="Cadastrar" class="btn btn-primary rounded rounded-3 me-4" style="width: 200px;"><i class="bi bi-plus-square me"></i><br>Novo Lançamento</a>
            <a type="button" asp-controller="Recorrente" asp-action="Cadastrar" class="btn btn-warning rounded rounded-3 me-4" style="width: 200px;"><i class="bi bi-repeat"></i><br>Recorrente</a>
            <a type="button" asp-controller="Transferencia" asp-action="Transferencia" class="btn btn-info rounded rounded-3 me-4" style="width: 200px;"><i class="bi bi-arrow-down-up"></i><br>Transferência</a>
            <button type="button" class="btn btn-light rounded rounded-3" style="width: 200px;"><i class="bi bi-download"></i><br>Exportar</button>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-2 w-100">
            <div class="d-flex flex-column container border border-2 p-2 mx-2 rounded rounded-3" style="max-height: 600px;">
                <h5 class="title text-dark p-2"><i class="bi bi-card-list me-2"></i>Lançamentos Recentes</h5>

                <div class="d-flex justify-content-between border border-2 rounded rounded-3">


                    <div class="row g-2 align-items-center p-2">
                        <div class="col-auto">
                            <label for="selectTipo" class="col-form-label text-primary">Tipo:</label>
                        </div>
                        <div class="col-auto">
                            <select class="form-select-sm" aria-label="Default select example">
                                <option selected>Selecione...</option>
                                <option value="receita">Receita</option>
                                <option value="despesa">Despesa</option>
                            </select>
                        </div>
                    </div>

                    <div class="row g-2 align-items-center p-2">
                        <div class="col-auto">
                            <label for="selectCategoria" class="col-form-label text-primary">Categoria:</label>
                        </div>
                        <div class="col-auto">
                            <select class="form-select-sm" aria-label="Default select example">
                                <option selected>Selecione...</option>
                                <option value="1">Água</option>
                                <option value="2">Aluguel</option>
                                <option value="3">Energia</option>
                            </select>
                        </div>
                    </div>

                    <div class="row g-2 align-items-center p-2">
                        <div class="col-auto">
                            <label for="Periodo" class="col-form-label text-primary">Período:</label>
                        </div>
                        <div class="col-auto">
                            <input type="date" style="width: 120px;" id="dataInicial">
                            <span class="text-primary ms-1">-</span>
                        </div>
                        <div class="col-auto">
                            <input type="date" style="width: 120px;" id="dataFinal">
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center align-items-center">
                    <div class="loading-wave" id="spinner">
                        <div class="loading-bar"></div>
                        <div class="loading-bar"></div>
                        <div class="loading-bar"></div>
                        <div class="loading-bar"></div>
                    </div>
                </div>

                <div class="container overflow-auto" style="max-height: 450px;" id="container_lancamentos">
                    @if (Model == null)
                    {
                        //QUANDO NÃO EXISTIR LANÇAMENTOS
                        <div class="d-flex align-items-center justify-content-center mt-4 p-2">
                            <h5 class="text-primary">Nenhum lançamento encontrado!</h5>
                        </div>
                    }
                    else if (Model != null)
                    {
                        foreach (var lanc in Model.Lancamentos)
                        {
                            if (lanc.Tipo == TipoLancamento.Despesa)
                            {
                                <div class="card rounded rounded-3 border-1 border-danger bg-danger bg-opacity-25 d-flex flex-row align-items-center justify-content-between text-center mb-2 mt-2">
                                    <i class="bi bi-arrow-down text-danger ms-3 fs-5"></i>
                                    <div class="d-flex flex-column flex-grow-1 p-0">
                                        <h5 class="card-title text-dark fs-6">@lanc.Descricao</h5>
                                        <span class="card-text text-dark-emphasis" style="font-size: 12px;">@lanc.Data.ToString("dd/MM/yyyy - hh:mm")</span>
                                    </div>
                                    @if (lanc.Pago == true)
                                    {
                                        <i class="bi bi-check-circle-fill fs-5 text-success-emphasis"></i>
                                    }
                                    <p class="text-danger fs-6 fw-bold mb-0 me-1"><i class="bi bi-dash"></i> R$@lanc.Valor</p>
                                    <div class="d-flex align-items-center justify-content-end ms-2 border-start border-2 border-dark" style="cursor: pointer">
                                        <a asp-controller="Lancamento" asp-action="Editar" asp-route-id="@lanc.Id" class="text-center ms-2 me-3 fw-bold"><i class="bi bi-pencil-square text-dark"></i></a>
                                        <a asp-controller="Lancamento" asp-action="Excluir" asp-route-id="@lanc.Id" class="text-center me-2"><i class="bi bi-x-square-fill text-danger"></i></a>
                                    </div>
                                </div>
                            }
                            else if (lanc.Tipo == TipoLancamento.Receita)
                            {
                                 <div class="card rounded rounded-3 border-1 border-success bg-success bg-opacity-25 d-flex flex-row align-items-center justify-content-between text-center mb-2 mt-2">
                                    <i class="bi bi-arrow-up text-success text-success-emphasis ms-3 fs-5"></i>
                                    <div class="d-flex flex-column flex-grow-1 p-0">
                                        <h5 class="card-title text-dark fs-6">@lanc.Descricao</h5>
                                        <span class="card-text text-dark-emphasis" style="font-size: 12px;">@lanc.Data.ToString("dd/MM/yyyy - hh:mm")</span>
                                    </div>
                                    @if (lanc.Pago == true)
                                    {
                                        <i class="bi bi-check-circle-fill fs-5 text-success-emphasis"></i>
                                    }
                                    <p class="text-success text-success-emphasis fs-6 fw-bold mb-0 me-1"><i class="bi bi-plus"></i> R$@lanc.Valor</p>
                                    <div class="d-flex align-items-center justify-content-end ms-2 border-start border-2 border-dark" style="cursor: pointer">
                                        <a asp-controller="Lancamento" asp-action="Editar" asp-route-id="@lanc.Id" class="text-center ms-2 me-3 fw-bold"><i class="bi bi-pencil-square text-dark"></i></a>
                                        <a asp-controller="Lancamento" asp-action="Excluir" asp-route-id="@lanc.Id" class="text-center me-2"><i class="bi bi-x-square-fill text-danger"></i></a>
                                    </div>
                                </div>
                            }
                        }
                        foreach (var transf in Model.Transferencias)
                        {
                            if (transf.Tipo == TipoLancamento.Transferencia)
                            {
                                <div class="card rounded rounded-3 border-1 border-info bg-info bg-opacity-25 d-flex flex-row align-items-center justify-content-between text-center mb-2 mt-2">
                                    <i class="bi bi-arrow-down-up text-info text-info ms-3 fs-5"></i>
                                    <div class="d-flex flex-column flex-grow-1 p-0">
                                        <div class="d-flex align-items-center justify-content-center flex-row">
                                            <i class="bi bi-caret-down-fill text-danger me-1"></i>
                                            <h5 class="card-title text-dark fs-6 me-4">@transf.ContaOrigem.Banco</h5>
                                            <h5 class="card-title text-dark fs-6 me-4">- @transf.Descricao -</h5>
                                            <h5 class="card-title text-dark fs-6">@transf.ContaDestino.Banco</h5>
                                            <i class="bi bi-caret-up-fill text-success ms-1"></i>
                                        </div>
                                        <span class="card-text text-dark-emphasis" style="font-size: 12px;">@transf.DataTransferencia.ToString("dd/MM/yyyy - hh:mm")</span>
                                    </div>
                                    <p class="text-info fs-6 fw-bold mb-0 me-1"> R$@transf.Valor</p>
                                    <div class="d-flex align-items-center justify-content-end ms-2 border-start border-2 border-dark" style="cursor: pointer">
                                        <a asp-controller="Transferencia" asp-action="Editar" asp-route-id="@transf.Id" class="text-center ms-2 me-3 fw-bold"><i class="bi bi-pencil-square text-dark"></i></a>
                                        <a asp-controller="Transferencia" asp-action="Excluir" asp-route-id="@transf.Id" class="text-center me-2"><i class="bi bi-x-square-fill text-danger"></i></a>
                                    </div>
                                </div>
                            }
                        }
                        foreach (var recorrente in Model.Recorrentes)
                        {
                            <div class="card rounded rounded-3 border-1 border-warning bg-warning bg-opacity-25 d-flex flex-row align-items-center justify-content-between text-center mb-2 mt-2">
                                <i class="bi bi-repeat ms-3 fs-4 text-warning"></i>
                                <div class="d-flex flex-column flex-grow-1 p-0">
                                    <h5 class="card-title text-dark fs-6">@recorrente.Descricao</h5>
                                    <span class="card-text text-dark-emphasis" style="font-size: 12px;">@recorrente.Data.ToString("dd/MM/yyyy - hh:mm")</span>
                                </div>
                                @if (recorrente.Pago == true)
                                {
                                    <i class="bi bi-check-circle-fill fs-5 text-success-emphasis"></i>
                                }
                                @if (recorrente.Tipo == TipoLancamento.Despesa)
                                {
                                    <p class="text-danger fs-6 fw-bold mb-0 me-1"><i class="bi bi-dash"></i> R$@recorrente.Valor</p>
                                }
                                else if (recorrente.Tipo == TipoLancamento.Receita)
                                {
                                    <p class="text-success text-success-emphasis fs-6 fw-bold mb-0 me-1"><i class="bi bi-plus"></i> R$@recorrente.Valor</p> 
                                } 
                                <div class="d-flex align-items-center justify-content-end ms-2 border-start border-2 border-dark" style="cursor: pointer">
                                    <a asp-controller="Recorrente" asp-action="Editar" asp-route-id="@recorrente.Id" class="text-center ms-2 me-3 fw-bold"><i class="bi bi-pencil-square text-dark"></i></a>
                                    <a asp-controller="Recorrente" asp-action="Excluir" asp-route-id="@recorrente.Id" class="text-center me-2"><i class="bi bi-x-square-fill text-danger"></i></a>
                                </div>
                            </div>
                        }
                    } 
                    
                </div>

            </div>

            <div class="container border border-2 p-2 mx-2 rounded rounded-3" style="max-height: 600px;">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="title text-dark p-2"><i class="bi bi-calendar me-2"></i>Próximos Lançamentos</h5>
                    @{
                        var dataAtual = DateTime.Now;

                        var mes = "";

                        switch(dataAtual.Month)
                        {
                            case 1:
                                mes = "Janeiro";
                                break;
                            case 2:
                                mes = "Fevereiro";
                                break;
                            case 3:
                                mes = "Março";
                                break;
                            case 4:
                                mes = "Abril";
                                break;
                            case 5:
                                mes = "Maio";
                                break;
                            case 6:
                                mes = "Junho";
                                break;
                            case 7:
                                mes = "Julho";
                                break;
                            case 8:
                                mes = "Agosto";
                                break;
                            case 9:
                                mes = "Setembro";
                                break;
                            case 10:
                                mes = "Outubro";
                                break;
                            case 11:
                                mes = "Novembro";
                                break;
                            case 12:
                                mes = "Dezembro";
                                break;
                        }
                        <p class="text-primary fs-5 me-2">@mes</p>
                    }
                </div>
                
                <div class="container overflow-auto" style="max-height: 450px;">
                    @if (Model == null)
                    {
                        //QUANDO NÃO EXISTIR LANÇAMENTOS
                        <div class="d-flex align-items-center justify-content-center mt-4 p-2">
                            <h5 class="text-primary">Nenhum lançamento encontrado!</h5>
                        </div>
                    }
                    else if (Model != null)
                    {
                        var hoje = DateTime.Now;

                        foreach (var lanc in Model.Lancamentos)
                        {
                            if (lanc.Data > hoje)
                            {
                                if (lanc.Tipo == TipoLancamento.Despesa)
                                {
                                    <div class="card rounded rounded-3 border-1 border-danger bg-danger bg-opacity-25 d-flex flex-row align-items-center justify-content-between text-center mb-2 mt-2">
                                        <i class="bi bi-arrow-down text-danger ms-3 fs-5"></i>
                                        <div class="d-flex flex-column flex-grow-1 p-0">
                                            <h5 class="card-title text-dark fs-6">@lanc.Descricao</h5>
                                            <span class="card-text text-dark-emphasis" style="font-size: 12px;">@lanc.Data.ToString("dd/MM/yyyy - hh:mm")</span>
                                        </div>
                                        <p class="text-danger fs-6 fw-bold mb-0 me-1"><i class="bi bi-dash"></i> R$@lanc.Valor</p>
                                    </div>
                                }
                                else if (lanc.Tipo == TipoLancamento.Receita)
                                {
                                    <div class="card rounded rounded-3 border-1 border-success bg-success bg-opacity-25 d-flex flex-row align-items-center justify-content-between text-center mb-2 mt-2">
                                        <i class="bi bi-arrow-up text-success text-success-emphasis ms-3 fs-5"></i>
                                        <div class="d-flex flex-column flex-grow-1 p-0">
                                            <h5 class="card-title text-dark fs-6">@lanc.Descricao</h5>
                                            <span class="card-text text-dark-emphasis" style="font-size: 12px;">@lanc.Data.ToString("dd/MM/yyyy - hh:mm")</span>
                                        </div>
                                        <p class="text-success text-success-emphasis fs-6 fw-bold mb-0 me-1"><i class="bi bi-plus"></i> R$@lanc.Valor</p>
                                    </div>
                                }
                            } 
                        }
                        foreach (var recorrente in Model.Recorrentes)
                        {
                            if (recorrente.Data.Month == hoje.Month)
                            {
                                <div class="card rounded rounded-3 border-1 border-warning bg-warning bg-opacity-25 d-flex flex-row align-items-center justify-content-between text-center mb-2 mt-2">
                                <i class="bi bi-repeat ms-3 fs-4 text-warning"></i>
                                <div class="d-flex flex-column flex-grow-1 p-0">
                                    <h5 class="card-title text-dark fs-6">@recorrente.Descricao</h5>
                                    <span class="card-text text-dark-emphasis" style="font-size: 12px;">@recorrente.Data.ToString("dd/MM/yyyy - hh:mm")</span>
                                </div>
                                @if (recorrente.Tipo == TipoLancamento.Despesa)
                                {
                                    <p class="text-danger fs-6 fw-bold mb-0 me-1"><i class="bi bi-dash"></i> R$@recorrente.Valor</p>
                                }
                                else if (recorrente.Tipo == TipoLancamento.Receita)
                                {
                                    <p class="text-success text-success-emphasis fs-6 fw-bold mb-0 me-1"><i class="bi bi-plus"></i> R$@recorrente.Valor</p> 
                                } 
                            </div>
                            }
                        }
                    }
                </div>

                
            </div>
        </div>
</div>