@model projeto_financeiro_mvc.ViewModels.ListLancamentosViewModel
@{
    ViewData["Title"] = "Lançamentos";
}

<div class="container d-flex justify-content-center mt-2">
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success text-white" role="alert">
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger text-light" role="alert">
            @TempData["MensagemErro"]
        </div>
    }
</div>

<h1 class="d-flex justify-content-center text-primary fw-bold mt-2" id="titulo">@ViewData["Title"]</h1>

<div class="d-flex flex-wrap align-items-center justify-content-center w-100">
    <div class="mt-2 mb-4">
        <div class="d-flex text-start w-100" id="box-btns">
            <a type="button" asp-controller="Lancamento" asp-action="Cadastrar" class="btn btn-primary rounded rounded-3 me-4 btnLancamento" style="width: 200px;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Novo lançamento Receita/Despesa"><i class="bi bi-plus-square me"></i><br>Novo Lançamento</a>
            <a type="button" asp-controller="Recorrente" asp-action="Cadastrar" class="btn btn-warning rounded rounded-3 me-4 btnLancamento" style="width: 200px;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Novo lançamento Recorrente (Conta fixa)"><i class="bi bi-repeat"></i><br>Recorrente</a>
            <a type="button" asp-controller="Transferencia" asp-action="Transferencia" class="btn btn-info rounded rounded-3 me-4 btnLancamento" style="width: 200px;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Transferência de valores entre contas (Pix, TED/DOC...)"><i class="bi bi-arrow-down-up"></i><br>Transferência</a>
            <button type="button" class="btn btn-light rounded rounded-3 btnLancamento" style="width: 200px;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Exportar lançamentos em Excel"><i class="bi bi-download"></i><br>Exportar</button>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-2 w-100 box-lancamentos">
            <div class="d-flex flex-column container border border-2 p-2 mx-2 rounded rounded-3 " style="max-height: 600px;">
                <h5 class="title text-dark p-2"><i class="bi bi-card-list me-2"></i>Lançamentos Recentes</h5>

                <form class="border border-2 rounded rounded-2" asp-controller="Lancamento" asp-action="Index" method="get" id="formFiltro">
                    <div class="d-flex justify-content-between align-items-center flex-row p-2 rounded rounded-2 mb-1 me-1">
                        <div class="row g-1">
                            <div class="col-auto">
                                <label for="periodo" class="col-form-label text-primary labels">Período:</label>
                            </div>
                            <div class="col-auto">
                                <input type="date" name="dataInicial" class="mb-1" value="@Model.DataInicial?.ToString("yyyy-MM-dd")" id="dataInicial" />
                                <input type="date" name="dataFinal" value="@Model.DataFinal?.ToString("yyyy-MM-dd")" id="dataFinal" />
                            </div>
                        </div>


                        <div class="row g-1 align-items-center p-1">
                            <div class="col-auto">
                                <label for="selectTipo" class="col-form-label text-primary labels">Tipo:</label>
                            </div>
                            <div class="col-auto">
                                <select class="form-select-sm" id="tipo" asp-for="Tipo">
                                    <option value="" selected>Selecione...</option>
                                    <option value="Receita" selected="@(Model.Tipo == "Receita")">Receita</option>
                                    <option value="Despesa" selected="@(Model.Tipo == "Despesa")">Despesa</option>
                                </select>
                            </div>
                        </div>
                        <div class="row g-1">
                            <div class="col-auto">
                                <label for="selectCategoria" class="col-form-label text-primary labels">Categoria:</label>
                            </div>
                            <div class="col-auto">
                            <select class="form-select-sm" id="categoria" asp-for="Categoria">
                                    <option value="" selected>Selecione...</option>
                                    @{
                                        foreach (var categoria in Model.Categorias)
                                        {
                                            <option value="@categoria.Id">@categoria.Descricao</option>
                                        }
                                    }
                                    @* <option value="Água">Água</option>
                                    <option value="Alimentação VA">Alimentação VA</option>
                                    <option value="Aluguel">Aluguel</option>
                                    <option value="Carro">Carro</option>
                                    <option value="Casa">Casa</option>
                                    <option value="Combustível">Combustível</option>
                                    <option value="Diversos">Diversos</option>
                                    <option value="Eletrônicos">Eletrônicos</option>
                                    <option value="Empréstimo">Empréstimo</option>
                                    <option value="Energia">Energia</option>
                                    <option value="Estacionamento">Estacionamento</option>
                                    <option value="Estudo">Estudo</option>
                                    <option value="Fast Food">Fast Food</option>
                                    <option value="FGTS">FGTS</option>
                                    <option value="Férias">Férias</option>
                                    <option value="Financiamento">Financiamento</option>
                                    <option value="Internet">Internet</option>
                                    <option value="Móveis">Móveis</option>
                                    <option value="Salário">Salário</option>
                                    <option value="Saldo Inicial">Saldo Inicial</option>
                                    <option value="Telefone">Telefone</option>
                                    <option value="Transporte">Transporte</option>
                                    <option value="TV">TV</option>
                                    <option value="Roupas">Roupas</option> *@
                                </select>
                            </div>
                        </div>
                        
                    </div>
                    <div class="d-flex justify-content-between align-items-center flex-row p-1 rounded rounded-2 mb-2 me-1">
                        <div class="row g-1 align-items-center p-1">
                            <div class="col-auto">
                                <label for="selectTipo" class="col-form-label text-primary labels">Descrição:</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" asp-for="Descricao" id="descricaoFiltro">
                            </div>
                        </div>
                        <div class="row g-1 align-items-center p-1">
                            <div class="col-auto">
                                <label for="selectTipo" class="col-form-label text-primary labels">Conta:</label>
                            </div>
                            <div class="col-auto">
                                <select class="form-select-sm" id="conta" asp-for="ContaId">
                                    <option value="" selected>Selecione...</option>
                                    @{
                                        foreach (var conta in Model.Contas)
                                        {
                                            <option value="@conta.Id">@conta.Banco</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row g-1">
                            <div class="col-auto">
                                <label for="selectCategoria" class="col-form-label text-primary labels">Valor:</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" style="max-width: 100px;" id="valorFiltro" asp-for="Valor">
                            </div>
                        </div>

                        <div class="divBtns">
                            <button type="button" class="btn btn-sm btn-info" id="btnLimpar" 
                            data-datainicial="@Model.DataInicial?.ToString("yyyy-MM-dd")"
                            data-datafinal="@Model.DataFinal?.ToString("yyyy-MM-dd")">Limpar</button>
                            <button type="submit" class="btn btn-sm btn-primary" id="btnFiltrar">Filtrar</button>  
                        </div>
                            
                    </div>
                </form>

                <div class="container overflow-auto" style="max-height: 450px;" id="container_lancamentos">
                    @{
                        var lancamentos = Model?.Movimentos.Where(l => l.Origem == "Lancamento").ToList();

                        var recorrentes = Model?.Movimentos.Where(l => l.Origem == "Recorrente").ToList();

                        var transferencias = Model?.Movimentos.Where(l => l.Origem == "Transferencia").ToList();

                        var resultados = Model.Movimentos.ToList();

                        if (!resultados.Any())
                        {
                            //QUANDO NÃO EXISTIR LANÇAMENTOS
                            <div class="d-flex align-items-center justify-content-center mt-4 p-2">
                                <h5 class="text-primary">Nenhum lançamento encontrado dentro do período!</h5>
                            </div>
                        }        

                        foreach (var lanc in lancamentos)
                        {
                            if (lanc.Tipo == TipoLancamento.Despesa)
                            {
                                <div class="card rounded rounded-3 border-1 border-danger bg-danger bg-opacity-25 d-flex flex-row align-items-center justify-content-between text-center mb-2 mt-2">
                                    <i class="bi bi-arrow-down text-danger ms-3 fs-4"></i>
                                    
                                    <div class="d-flex flex-column flex-grow-1 p-0">
                                        <h5 class="card-title text-dark fs-6 text-card">@lanc.Descricao</h5>
                                        <span class="card-text text-dark-emphasis data-font" style="font-size: 12px;">@lanc.Data.ToString("dd/MM/yyyy")</span>
                                    </div>
                                    @if (lanc.Pago == true)
                                    {
                                        <h6 class="text-info m-0 text-card">@lanc.Conta</h6>
                                        <i class="bi bi-check-circle-fill fs-4 text-success-emphasis ms-1"></i>
                                    }
                                    <p class="text-danger fs-6 fw-bold mb-0 me-1 valor-font"><i class="bi bi-dash"></i> R$@lanc.Valor.ToString("N2")</p>
                                    <div class="d-flex align-items-center justify-content-end ms-2 border-start border-2 border-dark" style="cursor: pointer">
                                        <a asp-controller="Lancamento" asp-action="Editar" asp-route-id="@lanc.Id" class="text-center ms-2 me-3 fw-bold"><i class="bi bi-pencil-square text-dark"></i></a>
                                        <a asp-controller="Lancamento" asp-action="Excluir" asp-route-id="@lanc.Id" class="text-center me-2"><i class="bi bi-x-square-fill text-danger"></i></a>
                                    </div>
                                </div>
                            }
                            else if (lanc.Tipo == TipoLancamento.Receita)
                            {
                                 <div class="card rounded rounded-3 border-1 border-success bg-success bg-opacity-25 d-flex flex-row align-items-center justify-content-between text-center mb-2 mt-2">
                                    <i class="bi bi-arrow-up text-success text-success-emphasis ms-3 fs-4"></i>
                                    <div class="d-flex flex-column flex-grow-1 p-0">
                                        <h5 class="card-title text-dark fs-6 text-card">@lanc.Descricao</h5>
                                        <span class="card-text text-dark-emphasis data-font" style="font-size: 12px;">@lanc.Data.ToString("dd/MM/yyyy")</span>
                                    </div>
                                    @if (lanc.Pago == true)
                                    {
                                        <h6 class="text-info m-0 text-card">@lanc.Conta</h6>
                                        <i class="bi bi-check-circle-fill fs-4 text-success-emphasis ms-1"></i>
                                    }
                                    <p class="text-success text-success-emphasis fs-6 fw-bold mb-0 me-1 valor-font"><i class="bi bi-plus"></i> R$@lanc.Valor.ToString("N2")</p>
                                    <div class="d-flex align-items-center justify-content-end ms-2 border-start border-2 border-dark" style="cursor: pointer">
                                        <a asp-controller="Lancamento" asp-action="Editar" asp-route-id="@lanc.Id" class="text-center ms-2 me-3 fw-bold"><i class="bi bi-pencil-square text-dark"></i></a>
                                        <a asp-controller="Lancamento" asp-action="Excluir" asp-route-id="@lanc.Id" class="text-center me-2"><i class="bi bi-x-square-fill text-danger"></i></a>
                                    </div>
                                </div>
                            }
                        }
                        foreach (var transf in transferencias)
                        {
                            <div class="card rounded rounded-3 border-1 border-info bg-info bg-opacity-25 d-flex flex-row align-items-center justify-content-between text-center mb-2 mt-2">
                                <i class="bi bi-arrow-down-up text-info text-info ms-3 fs-4"></i>
                                <div class="d-flex flex-column flex-grow-1 p-0">
                                    <div class="d-flex align-items-center justify-content-center flex-row">
                                        <i class="bi bi-caret-down-fill text-danger me-1"></i>
                                        <h5 class="card-title text-dark fs-6 me-4 text-card">@transf.Conta</h5>
                                        <h5 class="card-title text-dark fs-6 me-4 text-card">- @transf.Descricao -</h5>
                                        <h5 class="card-title text-dark fs-6 text-card">@transf.ContaDestino</h5>
                                        <i class="bi bi-caret-up-fill text-success ms-1"></i>
                                    </div>
                                    <span class="card-text text-dark-emphasis data-font" style="font-size: 12px;">@transf.Data.ToString("dd/MM/yyyy")</span>
                                </div>
                                <p class="text-info fs-6 fw-bold mb-0 me-1 valor-font"> R$@transf.Valor.ToString("N2")</p>
                                <div class="d-flex align-items-center justify-content-end ms-2 border-start border-2 border-dark" style="cursor: pointer">
                                    <a asp-controller="Transferencia" asp-action="Visualizar" asp-route-id="@transf.Id" class="text-center ms-2 me-3 fw-bold"><i class="bi bi-eye-fill text-info"></i></a>
                                    <a asp-controller="Transferencia" asp-action="Excluir" asp-route-id="@transf.Id" class="text-center me-2"><i class="bi bi-x-square-fill text-danger"></i></a>
                                </div>
                            </div>
                        }
                        foreach (var recorrente in recorrentes)
                        {
                            <div class="card rounded rounded-3 border-1 border-warning bg-warning bg-opacity-25 d-flex flex-row align-items-center justify-content-between text-center mb-2 mt-2">
                                <i class="bi bi-repeat ms-3 fs-4 text-warning"></i>
                                <div class="d-flex flex-column flex-grow-1 p-0">
                                    <h5 class="card-title text-dark fs-6 text-card">@recorrente.Descricao</h5>
                                    <span class="card-text text-dark-emphasis text-card" style="font-size: 12px;">@recorrente.Data.ToString("dd/MM/yyyy")</span>
                                </div>
                                @if (recorrente.Pago == true)
                                {
                                    <h6 class="text-info m-0">@recorrente.Conta</h6>
                                    <i class="bi bi-check-circle-fill fs-5 text-success-emphasis ms-1"></i>
                                }
                                @if (recorrente.Tipo == TipoLancamento.Despesa)
                                {
                                    <p class="text-danger fs-6 fw-bold mb-0 me-1 valor-font"><i class="bi bi-dash"></i> R$@recorrente.Valor.ToString("N2")</p>
                                }
                                else if (recorrente.Tipo == TipoLancamento.Receita)
                                {
                                    <p class="text-success text-success-emphasis fs-6 fw-bold mb-0 me-1 valor-font"><i class="bi bi-plus"></i> R$@recorrente.Valor.ToString("N2")</p> 
                                } 
                                <div class="d-flex align-items-center justify-content-end ms-2 border-start border-2 border-dark btnsCard" style="cursor: pointer">
                                    <a asp-controller="Recorrente" asp-action="Editar" asp-route-id="@recorrente.Id" class="text-center ms-2 me-3 fw-bold"><i class="bi bi-pencil-square text-dark"></i></a>
                                    <a asp-controller="Recorrente" asp-action="Excluir" asp-route-id="@recorrente.Id" class="text-center me-2"><i class="bi bi-x-square-fill text-danger"></i></a>
                                </div>
                            </div>
                        }
                    } 
                    
                </div>

            </div>

            <div class="container border border-2 p-2 mx-2 rounded rounded-3" style="max-height: 600px;">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="title text-dark p-2"><i class="bi bi-calendar me-2"></i>Próximos Lançamentos</h5>
                    @{
                        var dataAtual = DateTime.Now;

                        var mes = "";

                        switch(dataAtual.Month)
                        {
                            case 1:
                                mes = "Janeiro";
                                break;
                            case 2:
                                mes = "Fevereiro";
                                break;
                            case 3:
                                mes = "Março";
                                break;
                            case 4:
                                mes = "Abril";
                                break;
                            case 5:
                                mes = "Maio";
                                break;
                            case 6:
                                mes = "Junho";
                                break;
                            case 7:
                                mes = "Julho";
                                break;
                            case 8:
                                mes = "Agosto";
                                break;
                            case 9:
                                mes = "Setembro";
                                break;
                            case 10:
                                mes = "Outubro";
                                break;
                            case 11:
                                mes = "Novembro";
                                break;
                            case 12:
                                mes = "Dezembro";
                                break;
                        }
                        <p class="text-primary fs-5 me-2">@mes</p>
                    }
                </div>
                
                <div class="container overflow-auto" style="max-height: 450px;">
                    @{
                        var lancamentosFiltrados = lancamentos
                            .Where(l => l.Data.Month == dataAtual.Month && l.Data > dataAtual && l.Pago == false)
                            .ToList();
                        
                        var recorrentesFiltrados = recorrentes
                            .Where(r => r.Data.Month == dataAtual.Month && r.Data > dataAtual)
                            .ToList();
                        
                        var resultadosFiltrados = lancamentosFiltrados.Any() || recorrentesFiltrados.Any();

                        if (!resultadosFiltrados)
                        {
                            //QUANDO NÃO EXISTIR LANÇAMENTOS
                            <div class="d-flex align-items-center justify-content-center mt-4 p-2">
                                <h5 class="text-primary">Nenhum lançamento encontrado!</h5>
                            </div>
                        }

                        foreach (var lanc in lancamentosFiltrados)
                        {
                            if (lanc.Tipo == TipoLancamento.Despesa)
                            {
                                <div class="card rounded rounded-3 border-1 border-danger bg-danger bg-opacity-25 d-flex flex-row align-items-center justify-content-between text-center mb-2 mt-2">
                                    <i class="bi bi-arrow-down text-danger ms-3 fs-4"></i>
                                    <div class="d-flex flex-column flex-grow-1 p-0">
                                        <h5 class="card-title text-dark fs-6 text-card">@lanc.Descricao</h5>
                                        <span class="card-text text-dark-emphasis" style="font-size: 12px;">@lanc.Data.ToString("dd/MM/yyyy - hh:mm")</span>
                                    </div>
                                    <p class="text-danger fs-6 fw-bold mb-0 me-1 valor-font"><i class="bi bi-dash"></i> R$@lanc.Valor.ToString("N2")</p>
                                </div>
                            }
                            else if (lanc.Tipo == TipoLancamento.Receita)
                            {
                                <div class="card rounded rounded-3 border-1 border-success bg-success bg-opacity-25 d-flex flex-row align-items-center justify-content-between text-center mb-2 mt-2">
                                    <i class="bi bi-arrow-up text-success text-success-emphasis ms-3 fs-5"></i>
                                    <div class="d-flex flex-column flex-grow-1 p-0">
                                        <h5 class="card-title text-dark fs-6 text-card">@lanc.Descricao</h5>
                                        <span class="card-text text-dark-emphasis data-font" style="font-size: 12px;">@lanc.Data.ToString("dd/MM/yyyy - hh:mm")</span>
                                    </div>
                                    <p class="text-success text-success-emphasis fs-6 fw-bold mb-0 me-1 valor-font"><i class="bi bi-plus"></i> R$@lanc.Valor.ToString("N2")</p>
                                </div>
                            }
                        }
                        foreach (var recorrente in recorrentesFiltrados)
                        {
                            <div class="card rounded rounded-3 border-1 border-warning bg-warning bg-opacity-25 d-flex flex-row align-items-center justify-content-between text-center mb-2 mt-2">
                                <i class="bi bi-repeat ms-3 fs-4 text-warning"></i>
                                <div class="d-flex flex-column flex-grow-1 p-0">
                                    <h5 class="card-title text-dark fs-6 text-card">@recorrente.Descricao</h5>
                                    <span class="card-text text-dark-emphasis data-font" style="font-size: 12px;">@recorrente.Data.ToString("dd/MM/yyyy")</span>
                                </div>
                                @if (recorrente.Tipo == TipoLancamento.Despesa)
                                {
                                    <p class="text-danger fs-6 fw-bold mb-0 me-1 valor-font"><i class="bi bi-dash"></i> R$@recorrente.Valor.ToString("N2")</p>
                                }
                                else if (recorrente.Tipo == TipoLancamento.Receita)
                                {
                                    <p class="text-success text-success-emphasis fs-6 fw-bold mb-0 me-1 valor-font"><i class="bi bi-plus"></i> R$@recorrente.Valor.ToString("N2")</p> 
                                } 
                            </div>
                        }
                    }

                </div>

                
            </div>
        </div>
</div>